tharik/nugegoda-client/src/wsdl/localhost_8081/nugegoda-service/MyService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://my/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://my/" name="MyService">
<types>
<xsd:schema>
<xsd:import namespace="http://my/" schemaLocation="http://localhost:8081/nugegoda-service/MyService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getStudents">
<part name="parameters" element="tns:getStudents"/>
</message>
<message name="getStudentsResponse">
<part name="parameters" element="tns:getStudentsResponse"/>
</message>
<message name="authenticate">
<part name="parameters" element="tns:authenticate"/>
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<portType name="MyService">
<operation name="hello">
<input wsam:Action="http://my/MyService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://my/MyService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getStudents">
<input wsam:Action="http://my/MyService/getStudentsRequest" message="tns:getStudents"/>
<output wsam:Action="http://my/MyService/getStudentsResponse" message="tns:getStudentsResponse"/>
</operation>
<operation name="authenticate">
<input wsam:Action="http://my/MyService/authenticateRequest" message="tns:authenticate"/>
<output wsam:Action="http://my/MyService/authenticateResponse" message="tns:authenticateResponse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://my/MyService/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://my/MyService/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
<operation name="addStudent">
<input wsam:Action="http://my/MyService/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://my/MyService/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://my/MyService/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://my/MyService/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://my/MyService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://my/MyService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
</portType>
<binding name="MyServicePortBinding" type="tns:MyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authenticate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyService">
<port name="MyServicePort" binding="tns:MyServicePortBinding">
<soap:address location="http://localhost:8081/nugegoda-service/MyService"/>
</port>
</service>
</definitions>